#root {

    width: 90%;

    margin: auto;
}

.board {
    margin-top: 20px;
    margin-bottom: 20px;
}


.accordion-body {
    height: 400px;
}

#buttonNewBoard {
    margin: 20px;
}

.container {
    margin: 10px 0 10px 0;

}


.bodyCard {
    display: flex;

}

/*.bodyCards {*/
/*    height: 150px;*/
/*}*/

.col {
    font-weight: bold;
    border: solid 1px black;
    background-color: #e0e8ff;
    padding: 0;

    height: 300px;
    margin: 10px 10px 20px 10px;
    align-content: flex-start;
    width: auto;
}


#logoutButton {
    display: none;
}


#message {
    float: right;
}

a {
    color: black;
}


/*#board-column{*/
/*    background-color: wheat;*/
/*    display: flex;*/
/*    height: 200px;*/
/*    margin: 10px 0 20px 0;*/
/*    align-content: flex-start;*/
/*    width: auto;*/

/*}*/

.card {
    width: 240px;
    margin: 10px 5px 5px 28px;
    border: solid 1px black;
    display: flex;
}


.headerTitle > a {
    text-decoration: none;

}

.headerTitle > button:hover {
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}

.buttonTitleCard, .buttonDelCard {
    padding: 0;
}

.buttonDelCard {
    position: absolute;
    right: 7px;


}

.buttonTitleCard:hover {
    font-weight: bold;

    cursor: pointer;
}

.buttonDel {
    height: 20px;
    width: 20px;
    font-weight: bolder;
    float: right;
    margin: 1px 6px;
    align-content: center;
    align-items: center;
}

.buttonDel:hover, .buttonDelCard:hover {
    font-weight: bolder;
    cursor: pointer;
    color: red;

}


/*.buttonDel:hover .buttonDelCard:hover {*/
/*    font-weight: bolder;*/
/*    font-size: larger;*/
/*    cursor: pointer;*/

/*}*/




button {
    background-color: transparent;
    border: none;
}